<!DOCTYPE html>
<html>
  <head>
    <title>today i like</title>
    <meta charset="UTF-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />


    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/today.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/w3.css" />
    <link rel="stylesheet" type="text/css" href="/css/today.css" />
    
    <link
      rel="stylesheet"
      type="text/css"
      href="https://fonts.googleapis.com/css?family=Lato"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    
    
  </head>

  <body>       
    <%- include('partials/navigation') %> 

    <div class="login-status">
			<% if (loggedIn) { %>
			<div class="bubble logged-in">
				Logged in as <a href="<%=`/users/${currentUser._id}`%>">
					<%= currentUser.fullName %></a>
			</div>
			<div class="log-out">
				<a href="/users/logout">Log out</a>
			</div>
			<%} else {%>
			<div class="bubble log-in">
				<a href="/users/login">Log In</a>
			</div>
			<% } %>
		</div>

     <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
      <div class="w3-display-topleft w3-padding-large w3-xlarge w3-hide-small">
        today i like
      </div>
      <%- body %>     

      <div class="flashes">
        <% if (flashMessages) { %> <% if (flashMessages.success) { %>
        <div class="flashSuccess"><%= flashMessages.success %></div>
        <% } else if (flashMessages.error) { %>
        <div class="flashError"><%= flashMessages.error %></div>
        <% } %> <% } %>
      </div>

    <%- include('partials/footer') %>
  </body>
</html>
