<div class="w3-container w3-content w3-padding-64" style="max-width: 800px;">
  <h2 class="w3-wide w3-center">SUBSCRIBER EDIT</h2>
  <p class="w3-opacity w3-center"><i>edit subscriber profile</i></p>
  <div class="w3-row w3-center" style="font-size: large;">
    <br />
    <h1>User Data for <%= subscriber.name %></h1>
    <div class="data-form w3-row-padding">
      <form
        method="POST"
        action="<%=`/subscribers/${subscriber._id}/update?_method=PUT`%>"
      >
        <br />
        <div class="w3-center">
          <label for="inputName">Name</label>
          <input
            type="text"
            class="w3-input w3-border"
            name="name"
            id="inputName"
            value="<%=
 subscriber.name %>"
            placeholder="Name"
            autofocus
          />
          <label for="inputEmail">Email address</label>
          <input
            type="email"
            class="w3-input w3-border"
            name="email"
            id="inputEmail"
            value="<%=
 subscriber.email %>"
            placeholder="Email address"
            required
          />
          <label for="inputZipCode">Zip Code</label>
          <input
            type="text"
            class="w3-input w3-border"
            name="zipCode"
            id="inputZipCode"
            pattern="[0-9]{5}"
            value="<%= subscriber.zipCode %>"
            placeholder="Zip Code"
            required
          />
        </div>
        <button class="w3-button w3-white w3-section w3-right" type="submit">Save</button>
      </form>
    </div>
  </div>
</div>
