<div
  class="w3-container w3-content w3-padding-64"
  style="max-width: 800px;"
  id="contact"
>
  <h2 class="w3-wide w3-center">SUBSCRIBERS</h2>
  <p class="w3-opacity w3-center"><i>We got some subs</i></p>
  <div class="w3-row w3-center" style="font-size: large;">
    <br /><br /><br />
    <h1>our subscribers</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% subscribers.forEach(subscriber => { %>
        <tr>
          <td>
            <a href="<%= `/subscribers/${subscriber._id}` %>">
              <%= subscriber.name %>
            </a>
          </td>
          <td><%= subscriber.email %></td>
          <td>
            <a href="<%=`subscribers/${subscriber._id}/edit` %>">
              Edit
            </a>
          </td>
          <td>
            <a
              href="<%=`subscribers/${subscriber._id}/delete?_method=DELETE` %>"
              onclick="return confirm('Are you sure you want to delete this record?')"
              >Delete</a
            >
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>
