<div class="w3-container w3-content w3-padding-64" style="max-width: 800px;">
  <h2 class="w3-wide w3-center">LIKES TABLE</h2>
  <p class="w3-opacity w3-center"><i>all likes on one site</i></p>

  <div class="w3-row w3-center" style="font-size: large;">
    <br /><br /><br />

    <h1>our likes</h1>
    <form action="/delete/Likes" method="post" onclick="return confirm('Are you sure you want to delete all likes?')" style="display:inline"><input class="button w3-button w3-black " style="font-size:15px;" type="submit" name="type" value="Delete All Likes"></form>

    <table
      class="table"
      style="border-top: 0.5px solid #fff; margin: auto; padding-top: 20px;"
    >
      <thead>
        <tr>
          <th>Name</th>          
        </tr>
      </thead>
      <tbody>
        <% likes.forEach(like => { %>
        <tr>
          <td>            
            <a href="<%= `/likes/${like._id}` %>">
              <%= like.name %>
            </a>
          </td>
          </td>
          <td>
            <a href="<%=`/likes/${like._id}/edit`%>">
              Edit
            </a>
          </td>
          <td>
            <a
              href="<%= `likes/${like._id}/delete?_method=DELETE` %>"
              onclick="return confirm('Are you sure you want to delete this record?')"
              >Delete</a
            >
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <a
      href="<%= `likes/new/` %>"
      class="w3-button w3-white w3-section w3-center"
      >New Like</a
    >
  </div>
</div>
