<div class="w3-container w3-content w3-padding-64" style="max-width: 800px;">
  <h2 class="w3-wide w3-center">USER EDIT</h2>
  <p class="w3-opacity w3-center"><i>all users on one site</i></p>

  <div class="w3-row w3-center" style="font-size: large;">
    <br /><br /><br />
    <h1>User Data for <%= user.fullName %></h1>

    <div class="data-form w3-row-padding">
      <form method="POST" action="<%=`/users/${user._id}/update?_method=PUT`%>">
        <h2>Edit user:</h2>
        <div class="w3-center">
          <label for="inputFirstName">First Name</label>
          <input
            class="w3-input w3-border"
            type="text"
            name="first"
            id="inputFirstName"
            value="<%= user.name.first %>"
            placeholder="First"
            autofocus
          />
          <label for="inputLastName">Last Name</label>
          <input
            class="w3-input w3-border"
            type="text"
            name="last"
            id="inputLastName"
            value="<%=user.name.last %>"
            placeholder="Last"
          />
          <label for="inputPassword">Password</label>
          <input
            class="w3-input w3-border"
            type="password"
            name="password"
            id="inputPassword"
            value="<%= user.password %>"
            placeholder="Password"
            required
          />
          <label for="inputEmail">Email address</label>
          <input
            class="w3-input w3-border"
            type="email"
            name="email"
            id="inputEmail"
            value="<%=user.email %>"
            placeholder="Email address"
            required
          />
          <label for="inputZipCode">Zip Code</label>
          <input
            class="w3-input w3-border"
            type="text"
            name="zipCode"
            id="inputZipCode"
            pattern="\d*"
            value="<%= user.zipCode %>"
            placeholder="Zip Code"
            required
          />
        </div>
        <button class="w3-button w3-white w3-section w3-right" type="submit">
          Update
        </button>
      </form>
    </div>
  </div>
</div>
