<div class="w3-container w3-content w3-padding-64" style="max-width: 800px;">
  <h2 class="w3-wide w3-center">USERS TABLE</h2>
  <p class="w3-opacity w3-center"><i>all users on one site</i></p>

  <div class="w3-row w3-center" style="font-size: large;">
    <br /><br /><br />
    <h1>User Data for <%= user.fullName %></h1>
    <table class="table">
      <tr>
        <th>Name</th>
        <td><%= user.fullName %></td>
      </tr>
      <tr>
        <th>Email</th>
        <td><%= user.email %></td>
      </tr>
      <tr>
        <th>Zip Code</th>
        <td><%= user.zipCode %></td>
      </tr>
      <tr>
        <th>Password</th>
        <td><%= user.password %></td>
      </tr>
    </table>
    <% if (user.subscribedAccount) { %>
    <h4 class="center">
      This user has a
      <a href="<%=`/subscribers/${user.subscribedAccount}` %>">
        subscribed account</a
      >.
    </h4>
    <% } %>
  </div>
</div>
